<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% include "Dashboard/mainStyles.html" %}
    <style>
        .paper-details a{
            margin-top: 1rem;
            padding: .5rem;
            background-color: #58555e;
            border-radius: .5rem;
            text-decoration: none;
            color: white;
            width: fit-content;
        }
    </style>
</head>

<body>
    {% include "Dashboard/mainPartOne.html" %}
    <div class="main-container2">
        {% if paperData is string %}
        <div class="message">
            <span>{{ paperData }}</span>
        </div>
        {% endif %}
        {% if paperData is not string %}
        <div class="papers-main-container">
            <div class="paper-heading">
                <span>View papers</span>
            </div>
            <div class="papers-container">
               
                <div class="paper">
                    <div class="paper-details">
                        <span class="paper-name"><span class="paper-attr">Name :</span> {{ paperData.paper_name }}</span>
                        <span class="paper-desc"><span class="paper-attr">Description :</span> {{ paperData.paper_desc
                            }}</span>
                            <span class="paper-desc"><span class="paper-attr">Schedule Time :</span> {{ paperData.paper_schedule_time.strftime('%Y-%m-%d %I:%M:%S %p')
                            }}</span>
                            <span class="paper-desc"><span class="paper-attr">Expiry Time :</span> {{ paperData.paper_expiry_time.strftime('%Y-%m-%d %I:%M:%S %p')
                            }}</span>
                        {% if not isWithinTimeBool %}
                        <span class="paper-desc"><span class="paper-attr">Paper Will Be Available On {{ paperData.paper_schedule_time.strftime('%Y-%m-%d %I:%M:%S %p') }}</span>
                        {% else %}
                        <span class="paper-desc"><span class="paper-attr">PDF Password :</span> {{ paperData.paper_password
                        }}</span>
                        <a href="{{ url_for('static', filename=paperData.paper_path) }}" download="paper.pdf" class="download-link">Download Paper</a>
                        {% endif %}
                    </div>
                    <div class="paper-view">

                    </div>
                </div>
               
            </div>
        </div>
        {% endif %}

        

    </div>
    </div>
    {% include "Dashboard/mainPartTwo.html" %}
    <script>
        window.onload = function () {
            function addActiveClassToAnchor(id) {
                var anchor = document.getElementById(id);
                if (anchor) {
                    anchor.classList.add('active');
                } else {
                    console.error("Anchor with ID '" + id + "' not found.");
                }
            }
            addActiveClassToAnchor('home_active');
        };
    </script>
</body>

</html>