<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% include "Dashboard/mainStyles.html" %}
</head>

<body>
    {% include "Dashboard/mainPartOne.html" %}
    <div class="main-container2">
        {% if paperData is string %}
        <div class="message">
            <span>{{ paperData }}</span>
        </div>
        {% endif %}
        {% if paperData is not string %}
        <div class="papers-main-container">
            <div class="paper-heading">
                <span>View papers</span>
            </div>
            <div class="papers-container">
               
                <div class="paper">
                    <div class="paper-details">
                        <span class="paper-name"><span class="paper-attr">Name :</span> {{ paperData.paper_name }}</span>
                        <span class="paper-desc"><span class="paper-attr">Description :</span> {{ paperData.paper_desc
                            }}</span>
                        <span class="paper-uploadby"><span class="paper-attr">Uploaded By :</span> {{
                            paperData.paper_uploadedby }}</span>
                    </div>
                    <div class="paper-view">
                        <!-- <a href="/paper/view?id={{ paper.paper_id }}">View Paper</a> -->
                    </div>
                </div>
               
            </div>
        </div>

        

    </div>
    </div>
    {% include "Dashboard/mainPartTwo.html" %}
    <script>
        window.onload = function () {
            function addActiveClassToAnchor(id) {
                var anchor = document.getElementById(id);
                if (anchor) {
                    anchor.classList.add('active');
                } else {
                    console.error("Anchor with ID '" + id + "' not found.");
                }
            }
            addActiveClassToAnchor('home_active');
        };
    </script>
</body>

</html>