<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='Assets/Icons/favicon.ico')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/login/login.css')}}" />
</head>

<body>
  {% include "login/header.html" %}
  <div class="form-container">
    <form action="" method="post">
      <h3>login now</h3>
      {% if loginError %}
      <span class="error-msg">{{ loginError }}</span>
      {% endif %}
      <input type="text" name="username" required placeholder="Enter your username" autocomplete="off" />
      <input type="password" name="password" required placeholder="Enter your password" autocomplete="off" />

      <input type="submit" name="submit" value="login" class="form-btn" />
    </form>
  </div>


</body>

</html>